.titreprincipal 
{
	text-align: center;
	border: 2px ridge black;
}

.naissance
{
	margin-top: 10;
}

.prenom
{
	margin-left: 10;
}

.mail
{
	margin-top: 10;
}

.photoDor
{
	position: relative ;
	left: 540px; bottom: 100px;
}

.titrecollege
{
	color: navy; background-color: aqua;
}

.titrelycee
{
	color: green; background-color: lime;
}

.photocollege
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.photolycee
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.college
{
	background-color: aqua;
	border: 2px ridge black;
}

.lycee
{
	background-color: lime;
	border: 2px ridge black;
}

.sitecollege
{
	display: block;
    text-align: center;
}

.sitelycee
{
	display: block;
    text-align: center;
}
