.titreprincipal 
{
	text-align: center;
	border: 10px double black;
}

.naissance
{
	margin-top: 10;
}

.prenom
{
	margin-left: 10;
}

.mail
{
	margin-top: 10;
}

.photoDor
{
	position: relative ;
	left: 540px; bottom: 100px;
}

.titrecollege
{
	color: navy; background-color: aqua;
}

.titrelycee
{
	color: green; background-color: lime;
}

.photocollege
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.photolycee
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.college
{
	background-color: #7DBAE2;
	border: 2px ridge black;
	border-radius:10px 10px;
}

.lycee
{
	background-color: #98F29F;
	border: 2px ridge black;
	border-radius:10px 10px;
}

.sitecollege
{
	display: block;
    text-align: center;
}

.sitelycee
{
	display: block;
    text-align: center;
}

table 
{
 border-collapse:collapse;
 width:40%;
}

th, td 
{
 border:1px solid black;
 width:20%;
}

td 
{
 text-align:center;
}

.titrecompetences
{
	color: orange; background-color: yellow;
}

.titreetudes
{
	color: red; background-color: #FB6262;
}

.competences
{
	background-color: #E5F761;
	border: 2px ridge black;
	border-radius:10px 10px;
}

.etudes
{
	background-color: #F78F7A;
	border: 2px ridge black;
	border-radius:10px 10px;
}
